<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<take-note></take-note>

<div style="margin-left: 28%;margin-top: 5%;"><small>PINNED</small></div>

<div ng-controller="fundooappCtrl" ng-init="displayData()" >
   
    <div class="addednotes row" style="background-color: {{ss.color}};">
        <div class="notes col-md-3" style="background-color: {{ss.color}};"ng-controller="fundooappCtrl"   ng-repeat="ss in somearray" ng-if="ss.isPin==true">
         <div>
          <div ng-click="openModal(ss.noteID,ss.title,ss.note,ss.color,ss.isArchive,ss.isPin)">
              <div class="notetitle" >
                  <h5>{{ss.title}}</h5>
                  <div class="noteimg">
                    <i class="fa fa-thumb-tack" aria-hidden="true" ng-click="pinData(ss.noteID)"   height="22px"></i>

                  </div>
              </div>
              <div>{{ss.note}}</div>
          </div>
          
          <div ng-controller="fundooappCtrl"  ng-repeat="cc in collabarray" >
            <div class="collab"  ng-if="ss.noteID==cc.noteid">
               <div>
                   <p>{{cc.collabEmail}}</p> 
               </div>
               <span class="tooltip-text" id="bottom">{{cc.collabEmail}}</span>
           </div>
       </div>
       
          <div>
            <div class="lastDiv" >
                  <div class="allIcons">
                     <i class="fa fa-bell" aria-hidden="true"></i>
                     <i class="fa fa-user-plus" aria-hidden="true" ng-click="openCollabModal(ss.noteID)"></i>
                     <div class="paintPallet">
                      <i class="fa fa-paint-brush" aria-hidden="true" ng-click="colorPopup()"></i>
                      <div class="colorPopper" ng-show="colorPop.includes(1)">
                          <div class="colorCode" ng-click="changeColor(ss.noteID, color)" ng-repeat="color in colorArray" style="background-color:{{color}} ;">
                          </div>
                      </div>
                  </div>
                    
                     <i class="fa fa-file-image-o" aria-hidden="true"></i>
                     <i class="fa fa-archive" aria-hidden="true" ng-click="archivedata(ss.noteID)"></i>
                     <i class="fa fa-trash-o" ng-click="Trashdata(ss.noteID)"></i>
                     <div class="moreVert">
                        <img src="../../Images/more.png" style="    height: 20px;
                        margin-bottom: 13px;" ng-click="popper(ss.noteID)" >
                      
                        <div class="popper" ng-show="pop.includes(1)">
                            <div ng-click="Trashdata(ss.noteID)">
                                <p>Delete Note</p>
                            </div>
                            <div ng-click="addLabel(ss.noteID)">
                                <p>Add Label</p>
                            </div>
                            <p>Add Drawing</p>
                            <p>Make a copy</p>
                            <p>Show Checkboxes</p>
                            <p>Grab image text</p>
                        </div>
                    </div>
                      <!-- <img src="../../Images/delete.png" ng-click="Trashdata(ss.noteID)"> -->
                      <!-- <img src="../../Images/more.png" >
                       -->
                  </div>
              </div>
            </div>
          </div>
          <div class="label" ng-show="labelView.includes(1)">
            <p class="labelTitle">Label Note</p>
            <input class="labelName" ng-model="labelName" type="text" placeholder="Enter label name" />
            <button class="labelSave" ng-click="setLabel(ss.noteID,labelName)">Save</button>
        </div>
         </div>
          </div>
     
     <br><br>
     <div class="addednotes row">
            <div class="notes col-md-3" style="background-color: {{ss.color}};" ng-controller="fundooappCtrl"   ng-repeat="ss in somearray" ng-if="ss.isArchive==false&&ss.isTrash==false&&ss.isPin==false">
             <div>
              <div ng-click="openModal(ss.noteID,ss.title,ss.note,ss.color,ss.isArchive,ss.isPin)">
                  <div class="notetitle" >
                      <h5>{{ss.title}}</h5>
                      <div class="noteimg">
                        <i class="fa fa-thumb-tack" aria-hidden="true" ng-click="pinData(ss.noteID)"   height="22px"></i>
    
                      </div>
                  </div>
                  <div>{{ss.note}}</div>
              </div>
              
              <div ng-controller="fundooappCtrl"  ng-repeat="cc in collabarray" >
                <div class="collab" >
                   <div>
                       <p>l{{cc.collabEmail}}</p> 
                   </div>
                   <span class="tooltip-text" id="bottom">{{cc.collabEmail}}</span>
               </div>
           </div>
           
              <div>
                <div class="lastDiv" >
                      <div class="allIcons">
                         <i class="fa fa-bell" aria-hidden="true"></i>
                         <i class="fa fa-user-plus" aria-hidden="true" ng-click="openCollabModal(ss.noteID)"></i>
                         <div class="paintPallet">
                          <i class="fa fa-paint-brush" aria-hidden="true" ng-click="colorPopup()"></i>
                          <div class="colorPopper" ng-show="colorPop.includes(1)">
                              <div class="colorCode" ng-click="changeColor(ss.noteID, color)" ng-repeat="color in colorArray" style="background-color:{{color}} ;">
                              </div>
                          </div>
                      </div>
                        
                         <i class="fa fa-file-image-o" aria-hidden="true"></i>
                         <i class="fa fa-archive" aria-hidden="true" ng-click="archivedata(ss.noteID)"></i>
                         <i class="fa fa-trash-o" ng-click="Trashdata(ss.noteID)"></i>
                         <div class="moreVert">
                            <img src="../../Images/more.png" style="    height: 20px;
                            margin-bottom: 13px;" ng-click="popper(ss.noteID)" >
                            <div class="popper" ng-show="pop.includes(1)">
                                <div ng-click="Trashdata(ss.noteID)">
                                    <p>Delete Note</p>
                                </div>
                                <div ng-click="addLabel(ss.noteID)">
                                    <p>Add Label</p>
                                </div>
                                <p>Add Drawing</p>
                                <p>Make a copy</p>
                                <p>Show Checkboxes</p>
                                <p>Grab image text</p>
                            </div>
                        </div>
                          <!-- <img src="../../Images/delete.png" ng-click="Trashdata(ss.noteID)"> -->
                          <!-- <img src="../../Images/more.png" >
                           -->
                      </div>
                  </div>
                </div>
              </div>
              <div class="label" ng-show="labelView.includes(1)">
                <p class="labelTitle">Label Note</p>
                <input class="labelName" ng-model="labelName" type="text" placeholder="Enter label name" />
                <button class="labelSave" ng-click="setLabel(ss.noteID,labelName)">Save</button>
            </div> 
             </div>
           
 </div>   
       