<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    <header-list></header-list>
</div>
<side-bar></side-bar>

<div ng-controller="fundooappCtrl" ng-init="displayData()" >
    <div class="addednotes row" style="margin-top: 7%;">
      
        <div class="notes col-md-3"  style="background-color: {{ss.color}};" ng-repeat="ss in somearray" ng-if="ss.isArchive==true">
            <div>
                <div ng-click="openModal(ss.noteID,ss.title,ss.note,ss.color,ss.isArchive,ss.isPin)">
                    <div class="notetitle" >
                        <h5>{{ss.title}}</h5>
                        <div class="noteimg">
                          <i class="fa fa-thumb-tack" aria-hidden="true" ng-click="pinData(ss.noteID)"   height="22px"></i>
      
                        </div>
                    </div>
                    <div>{{ss.note}}</div>
                </div>
               
                <div >
                <div ng-repeat="cl in intrArr" ng-if="ss.noteID==cl.collabb.noteid" >
                    
                    <div class="collab" >
                       <div>
                           <p>{{cl.collabb.collabEmail}}</p> 
                       </div>
                       <span class="tooltip-text" id="bottom">{{cl.collabb.collabEmail}}</span>
                   </div>
               </div></div>
                <div>
                  <div class="lastDiv">
                        <div class="allIcons">
                           <i class="fa fa-bell" aria-hidden="true"></i>
                           <i class="fa fa-user-plus" aria-hidden="true" ng-click="openCollabModal(ss.noteID)"></i>
                           <i class="fa fa-paint-brush" aria-hidden="true"></i>
                           <i class="fa fa-file-image-o" aria-hidden="true"></i>
                           <i class="fa fa-archive" aria-hidden="true" ng-click="archivedata(ss.noteID)"></i>
                           <i class="fa fa-trash-o" ng-click="Trashdata(ss.noteID)"></i>
                         
                            <!-- <img src="../../Images/delete.png" ng-click="Trashdata(ss.noteID)"> -->
                            <!-- <img src="../../Images/more.png" >
                             -->
                        </div>
                    </div>
                  </div>
                </div>
        </div>
         
    </div>
</div>

