<div class="sidebars" >
   <ul class="navv">
    <li class="activee"><a href="#!Notes">
      <i class="fa fa-lightbulb-o" aria-hidden="true" style="font-size: 29px;" ></i>
    <span>Notes</span>
    </a></li>
    <li><a href="#">
      <i class="fa fa-bell-o" aria-hidden="true"  style="font-size: 26px;"></i>
    <span>Reminders</span>
    </a></li>
    <li><a href="#!Archive">
      <i class="fa fa-archive" aria-hidden="true"  style="font-size: 26px;"></i>
    <span>Archive</span>
    </a></li>
    <li><a href="#!Trash">
    <i class="fa fa-trash-o"  style="font-size: 26px;"></i>
    <span>Trash</span>
    </a></li>
  </ul>
</div>
   