<html >
<head>
 <link rel="stylesheet" href="../Sidebar/sideabar.css" >
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
  <script src="app.js"></script>
</head>
<body>

  <div >
   <div class="sidebar">
      
      <ul class="nav">
      <li class="active"><a href="#">
      <i class="fas fa-server"></i>
      <span>Notes</span>
      </a></li>
      <li><a href="#">
      <i class="fas fa-concierge-bell"></i>
      <span>Reminders</span>
      </a></li>
      <li><a href="#">
      <i class="fas fa-calendar-alt"></i>
      <span>Archive</span>
      </a></li>
      <li><a href="#">
      <i class="fas fa-question-circle"></i>
      <span>Trash</span>
      </a></li>
      
      </ul>
      </div>
     
</div>
</body>
</html>