<!DOCTYPE html>
<html lang="en" ng-app="fundooapp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="angularroute.js"></script>
    <script src="../ngStorage.js"></script>
</head>
<body>
    <div class="container"  ng-controller="fundooappCtrl">
        <div class="logoimg">
            <img src="../../Images/google.png" height="35px">
        </div>
        <div class="signin">
            <h1>Sign In</h1>
            <span>Use Your Google Account</span>
        </div>
        <div class="formgroup">
            <input type="text" ng-model="email"  class="formcontrol" placeholder="Email Or Phone">
        </div>
        <div class="formgroup">
            <input type="text" ng-model="password" class="formcontrol" placeholder="Password">
        </div>
        <div class="forget">
            <span>Forget Password?</span>
        </div>
        <div class="extrasentence">
            Not your computer? Use Guest mode to sign in privately. 
            <div class="forget">
                <a href="#" style="text-decoration:none">Learn More</a>
            </div>
        </div>
        <div class="createaccount">
            <div><a href="#!register" style="text-decoration:none">Create Account</a></div>
            <div>
                <button ng-click="login(email,password)">Next</button>
            </div>
        </div>
    </div>
    <script src="login.js"></script>
</body>
</html>