<div class="signup"  ng-controller="fundooRegCtrl">
        <div class="inputdata">
            <div class="logoimg">
                <img src="../../Images/google.png" height="35px">
            </div>
            <div class="signin">
                {{msg}}
                <h1>Sign Up</h1>
                <span>Use Your Google Account</span>
            </div>
                <div class="names">
                    <input type="text" ng-model="firstName" class="formcontrol" placeholder="Firstname">
               
                    <input type="text" ng-model="lastName" class="formcontrol" placeholder="Lastname">
                </div>
            <input type="text" ng-model="email" class="formcontrol" placeholder="Email">
            <small class="text">You can use Letters,numbers and periods</small>
               
            <div class="names">
                <input ng-model="password" type="text" class="formcontrol" placeholder="Password">
           
               
            </div>
             <small class="text">Use 8 or more characters with a mix of letters, numbers & symbols</small>
            <div>
           
            </div>
            <div class="createaccount">
                <div><a href="#!login" style="text-decoration:none">Sign in Instead</a></div>
                <div>
                    <button ng-click="postdata(firstName,lastName,email,password)">Next</button>
                </div>
            </div>
        </div>
        <div class="image">
        <img height="63%"src="../Images/googledevice.jpg" alt="google"/>
        </div>
    </div>
