<html>
<head>
    <link rel="stylesheet" href="../Header/header.css" >
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
  <script src="app.js"></script>
</head>
<body>
<div>
    <div class='header'> <div class='icons'>
       <img src='../../../Images/menu.png'/>
        <img src='../../../Images/keep.png' class='keepimg'/>
        <h1>FundooNotes</h1>
      </div>
        <div class='search'>
          <img src='../../../Images/search.png' height='20px'/>  
          <input type='text' placeholder='Search'/>
        </div>
        <div class='icons'>
          <img src='../../../Images/refresh.png'/>
          <img src='../../../Images/list.png' className='hideimg'/>
          <img src='../../../Images/setting.png' className='hideimg'/>
        </div>
        <div class='icons'>
          <img src='../../../Images/dot.png' className='hideimg'/>
          <div class='profile' className='hideimg'>r</div> 
        </div>
      </div>
    </div>
    <div>
   
</div>
</body>
</html>